$max-width: 200px;
$font-stack:    Helvetica, sans-serif;

.select-container {
    font: 100% $font-stack;
    max-width: $max-width;
    border: 1px solid black;
    border-radius: 3px;

    .title-button {
        text-align: center;
        width: $max-width;
        border: none;
        color: rgb(79, 96, 251);
        
        padding:10px;

        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        
        cursor: pointer;
    }
    input {
        width: $max-width;
    }

    .dropdown.closed{
        display: none; 
    }

    .dropdown {
        
        .options-div{
            max-height: 15%;
            overflow: auto;
        }
        
        .option{
            padding: 10px;
            cursor: pointer;
            border: 1px solid rgb(255, 255, 255);
            &:hover {
                border: 1px solid rgb(158, 152, 152);
                background-color: rgb(177, 255, 255);
            }
        }
    }
        
}